<!-- Header/Contact Information -->
        {% if cv.name or cv.label or cv.location or cv.email or cv.phone or cv.website %}
          <div class="card mt-3 p-3">
            <h4 class="card-title font-weight-medium h5 mb-2">Contact Information</h4>
            <table class="table table-cv table-sm table-borderless mb-0 lh-sm" style="line-height: 1.2;">
              {% if cv.name %}
                <tr>
                  <td class="p-0 py-1 pr-2 font-weight-bold"><b>Name</b></td>
                  <td class="p-0 py-1 pl-2 font-weight-light">{{ cv.name }}</td>
                </tr>
              {% endif %}
              {% if cv.label %}
                <tr>
                  <td class="p-0 py-1 pr-2 font-weight-bold"><b>Professional Title</b></td>
                  <td class="p-0 py-1 pl-2 font-weight-light">{{ cv.label }}</td>
                </tr>
              {% endif %}
              {% if cv.email %}
                <tr>
                  <td class="p-0 py-1 pr-2 font-weight-bold"><b>Email</b></td>
                  <td class="p-0 py-1 pl-2 font-weight-light">{{ cv.email }}</td>
                </tr>
              {% endif %}
              {% if cv.phone %}
                <tr>
                  <td class="p-0 py-1 pr-2 font-weight-bold"><b>Phone</b></td>
                  <td class="p-0 py-1 pl-2 font-weight-light">{{ cv.phone }}</td>
                </tr>
              {% endif %}
              {% if cv.address %}
                <tr>
                  <td class="p-0 py-1 pr-2 font-weight-bold"><b>Location</b></td>
                  <td class="p-0 py-1 pl-2 font-weight-light">
                    {% if cv.address.street %}{{ cv.address.street }}, {% endif %}
                    {% if cv.address.city %}{{ cv.address.city }}, {% endif %}
                    {% if cv.address.region %}{{ cv.address.region }} {% endif %}
                    {% if cv.address.postalCode %}{{ cv.address.postalCode }}{% endif %}
                  </td>
                </tr>
              {% endif %}
              {% if cv.website %}
                <tr>
                  <td class="p-0 py-1 pr-2 font-weight-bold"><b>Website</b></td>
                  <td class="p-0 py-1 pl-2 font-weight-light">
                    <a href="{{ cv.website }}" target="_blank">{{ cv.website }}</a>
                  </td>
                </tr>
              {% endif %}
            </table>
          </div>
        {% endif %}
